<!DOCTYPE html>
<html ng-app="loginApp">
  <head>
    <title>ReDBox PaaS Admin Login</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/redbox-admin/styles/bootstrap.css">
    <link rel="stylesheet" href="/redbox-admin/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/redbox-admin/styles/importer.css">
    <link rel="stylesheet" href="/redbox-admin/css/dashboard.css">
    <!--STYLES END-->
  </head>

  <body>
    <div ng-controller="SaveLoginCtrl">
    </div>

    <!--SCRIPTS-->
    <script src="/redbox-admin/js/dependencies/sails.io.js"></script>
    <script src="/redbox-admin/js/dependencies/angular-file-upload-shim.min.js"></script>
    <script src="/redbox-admin/js/dependencies/angular.js"></script>
    <script src="/redbox-admin/js/dependencies/angular-route.js"></script>
    <script src="/redbox-admin/js/dependencies/angular-resource.js"></script>
    <script src="/redbox-admin/js/dependencies/jquery.js"></script>
    <script src="/redbox-admin/js/dependencies/FileAPI.min.js"></script>
    <script src="/redbox-admin/js/dependencies/angular-file-upload.min.js"></script>
    <script src="/redbox-admin/js/dependencies/angular-loader.js"></script>
    <script src="/redbox-admin/js/dependencies/angular-mocks.js"></script>
    <script src="/redbox-admin/js/dependencies/ui-bootstrap-tpls.min.js"></script>
    <script src="/redbox-admin/js/angular-local-storage.js"></script>
    <script src="/redbox-admin/js/app.js"></script>
    <script src="/redbox-admin/js/config.js"></script>
    <script src="/redbox-admin/js/services.js"></script>
    <script src="/redbox-admin/js/controllers.js"></script>
    <script src="/redbox-admin/js/filters.js"></script>
    <script src="/redbox-admin/js/directives.js"></script>
    <!--SCRIPTS END-->
    <%- body %>
  </body>
</html>
