<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#/">Home</a></li>
      <li><a href="#/instance">Instance</a></li>
      <li class="active"><a href="#/config">Configuration</a></li>
      <li><a href="#/mintCsvs">Upload</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Configuration</h1>
    <!-- ReDBox configuration sections -->
    <div class="panel panel-primary" ng-init="getRbSection()" >
      <div class="panel-heading">
        <h3 class="panel-title">ReDBox</h3>
      </div>
      <div>
          <ul class="nav nav-pills">
            <li ng-repeat="rbSection in rbSectionList"><a href="#/config/redbox/{{rbSection.id}}">{{rbSection.title}}</a></li>
          </ul>
      </div>
      <div class="panel panel-default" ng-show="secDetails.redbox">
        <div class="panel-heading">
          <h3 class="panel-title">{{currentTitle}}</h3>
        </div>
        <div class="panel-body" >
          <form ng-repeat="subsection in secDetails.redbox.subsections" sf-schema="subsection.schema" sf-form="subsection.form" sf-model="subsection.model"></form>
        </div>
        <div class="panel-footer">
          <button type="button" ng-click="saveSection(secDetails.redbox)" class="btn btn-info">Apply</button>
        </div>
      </div>
    </div>
  </div>
 
   <script type="text/ng-template" id="failedVal.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Form validation failure</h4>
            </div>
            <div class="modal-body">
              <p>There are some issues in your form, please check the validation messages on the fields.</p>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="close('Okay')" class="btn btn-primary" data-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>
   </script>
   <script type="text/ng-template" id="restart.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Restart {{currentSysType}}</h4>
            </div>
            <div class="modal-body">
              <p>You have made changes on the configuration that require a restart. Please restart {{currentSysType}}.</p>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="close('Cancel')" class="btn btn-default" data-dismiss="modal">Restart Later</button>
              <button type="button" ng-click="close('restart')" class="btn btn-primary" data-dismiss="modal">Restart</button>
            </div>
          </div>
        </div>
      </div>
   </script>
</div>
