<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#/">Home</a></li>
      <li><a href="#/instance">Instance</a></li>
      <li><a href="#/config">Configuration</a></li>
      <li><a href="#/mintCsvs">Upload</a></li>
      <li><a href="#/formBuilder">Build a form</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="jumbotron">
      <h2>Please select a stage to view/edit</h2>
      <pre>{{stages}}</pre>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="stage in stages">
           <a ng-href="#/formBuilder/{{fileName}}/{{stage}}">{{ stage }}</a>
           <button class="btn" onclick="alert('If you are sure? t remove?');">Remove</button>
        </li>
      </ul>

      
      <button class="btn" ng-click="addStage(stage)">Add a new stage</button>
      <div>
            <div>Enter a name for the stage</div>
            <label>Stage Name</label><input ng-model="stage.name">
            <button class="btn" ng-click="addStage(stage)">Add</button>
      </div>
  
    </div>
  </div>
</div>
