<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#/">Home</a></li>
      <li><a href="#/instance">Instance</a></li>
      <li><a href="#/config">Configuration</a></li>
      <li><a href="#/mintCsvs">Upload</a></li>
      <li><a href="#/logview">View Logs</a></li>
      <li class="active"><a href="#/harvester/list">Harvester</a></li>
    </ul>
  </div>
  <div ng-controller="HarvesterSummaryCtrl as hrvSumryctrl" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Harvester Job Summary</h1>
    <div>
    	<button ng-click="hrvLstctrl.getharvesterSummary('first')">First</button>
    	<button ng-click="hrvLstctrl.getharvesterSummary('next')">Next</button>
    	<button ng-click="hrvLstctrl.getharvesterSummary('prev')">Previous</button>
    	<button ng-click="hrvLstctrl.getharvesterSummary('last')">Last</button>
    </div>
    <table>
    	<tr ng-repeat-start="harvestEvent in hrvSumryctrl.harvestEvents">
    		<td>{{harvestEvent._source.hostName}}</td>
    	</tr>
    	<tr ng-repeat-end>
    		<td>&nbsp;</td>
    	</tr>
    </table>
</div>

