<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#/">Home</a></li>
      <li><a href="#/instance">Instance</a></li>
      <li><a href="#/config">Configuration</a></li>
      <li><a href="#/mintCsvs">Upload</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="jumbotron">
      <h2>ReDBox/Mint Administration</h2>
      <p>
          This application allows you to configure and control ReDBox and Mint. 
      </p>
    </div>
  </div>
</div>