<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#/">Home</a></li>
      <li><a href="#/instance">Instance</a></li>
      <li><a href="#/config">Configuration</a></li>
      <li><a href="#/mintCsvs">Upload</a></li>
      <li class="active"><a href="#/logview">View Logs</a></li>
      <li><a href="#/harvester/list">Harvester</a></li>
    </ul>
  </div>
  <div ng-controller="LogviewCtrl as logctrl" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>View Logs</h1>
    <form class="logview-form" ng-submit="logctrl.submit()">
    	<div>
    		<select class="form-control" ng-model="logctrl.logtype">
    			<option value="redbox-main">Redbox Main</option>
    			<option value="redbox-trans">Redbox Transaction</option>
    			<option value="mint-main">Mint Main</option>
    		</select>
    	</div>
    	<div>
    		<select class="form-control" ng-model="logctrl.logevt">
    			<option value="*">All</option>
    			<option value="WARN">WARN</option>
    			<option value="ERROR">ERROR</option>
    			<option value="INFO">INFO</option>
    			<option value="DEBUG">DEBUG</option>
    		</select>
    	</div>
    	<input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <strong>Available log entries: <span ng-bind="logctrl.logCount"></span></strong>
    <div>
    	<button class="btn btn-primary" ng-click="logctrl.getData('first')">First</button>
    	<button class="btn btn-primary" ng-click="logctrl.getData('next')">Next</button>
    	<button class="btn btn-primary" ng-click="logctrl.getData('prev')">Previous</button>
    	<button class="btn btn-primary" ng-click="logctrl.getData('last')">Last</button>
    </div>
    <table class="table table-hover logview-data-table">
    	<tr>
    		<th width="20%">Timestamp</th>
    		<th width="20%">Event type</th>
    		<th width="60%">Message</th>
    	</tr>
    	<tr ng-repeat="logdat in logctrl.logViewData">
    		<td>{{logdat._source.logts}}</td>
    		<td>{{logdat._source.evt}}</td>
    		<td>{{logdat._source.message}}</td>
    	</tr>
    </table>
</div>

