<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#/">Home</a></li>
      <li><a href="#/instance">Instance</a></li>
      <li><a href="#/config">Configuration</a></li>
      <li class="active"><a href="#/mintCsvs">Upload</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Mint CSV File Harvest</h1>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Upload CSVs for harvest</h3>
      </div>
      <p class="well well-sm">Files selected will be placed in the Harvester input directory, therefore, select with care.</p>
      <p>
        <input class="btn" type="file" ng-file-select="onMintFileSelect($files)" multiple accept="text/csv">
      </p>
      <div class="progress" ng-repeat="fileUpload in fileUploads">
        <div ng-show="fileUpload != null" class="{{fileUpload.cl}}"  role="progressbar" aria-valuenow="{{fileUpload.prog}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fileUpload.prog}}%">
          {{fileUpload.lbl}}
        </div>
      </div>
      <div class="{{alert.cl}}" role="alert" ng-show="alert.msg != null">
        {{alert.msg}}
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">CSVs waiting to be harvested</h3>
      </div>
    <p class="well well-sm">These files might be harvested at any time, deleting might not always guarantee that the Harvester won't pick it up, and downloading large files might interrupt the Harvesting process.</p>
      <div ng-init="getMintPendingFileList()">
        <form method="POST" action="">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="fileName in mintPendingFiles">
              <form-downloader file-name="{{fileName}}" base-url="/redbox-admin/fileHarvest/mint/" form-search-depth-str="100"/>
              &nbsp;
              <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteFile(fileName)"></button>
            </li>
          </ul>
          <input type="hidden" name="jws" value="{{jws}}" />
        </form>
      </div>
    </div>
  </div>
</div>

