<!DOCTYPE html>
<html lang="en" ng-app="redboxAdmin">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ReDBox PaaS Admin</title>
    <!--STYLES-->
    <!--STYLES END-->
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">ReDBox/Mint Instance Administrator</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#/">Home</a></li>
              <li><a href="#/logout">Logout</a></li>
            </ul>
        </div>
      </div>
    </div>
    <!-- Partials Start -->
    <div class="container-fluid" ng-view>
    </div>
    <!-- Partials End -->
    <!--SCRIPTS-->
    <!--SCRIPTS END-->
    <script type="text/ng-template" id="loginExpiry.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" ng-click="close('Login')" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Session Expiry</h4>
            </div>
            <div class="modal-body">
              <p>Unfortunately, you session has expired. Clicking the 'Login' button or closing the dialog will take you to the login screen again.</p>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="close('Login')" class="btn btn-primary" data-dismiss="modal">Login</button>
            </div>
          </div>
        </div>
      </div>
   </script>
    <script type="text/ng-template" id="rbUnavailable.html">
       <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">ReDBox is unavailable</h4>
            </div>
            <div class="modal-body">
              <p>Unfortunately, ReDBox is unavailable for authentication. This Admin instance is configured to authenticate with ReDBox. If ReDBox has been restarted, please wait for it to start then try refreshing this page.
              If ReDBox is still unavailable, please contact ReDBox Support.</p>
            </div>
          </div>
        </div>
      </div>
   </script>

  </body>
</html>
